body{
    background-color: #F3F8F8;
}
.nav{
    display:flex;
    vertical-align:top;
    background-color:#1B5E5C;
    align-items:center;
}
.logo{
    display:flex;
   padding: 1%;
   text-align:left;
   flex-direction: row;
   align-items:center;
}
nav{
    display:flex;
    flex:content;
    width:100%;
    padding:5px;
    flex-direction: row;
    justify-content:right;
}
nav a{
    padding-right: 25px;
    align-content: center;
    text-align: center;
    font-family: Garamond;
    font-size: 36px;
    color:#CFF0EE;
}
li{
    width:50%;
    margin-left: auto;
}
.aboutMe{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-items:center;
    padding-top:25px;
    color: #1B5E5C;
}
.heroImg img{
    margin: 15px;
    padding-left: 25px;
}
.heroImg{
    display:flex inline-block;
    justify-content: space-between;
    margin-left:15%;
    margin-right:15%;
}
.heroImg p{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    margin:0 auto;
    text-align:left;
    font-family: Garamond;
    font-size: 24px;
    color: #F3F8F8;
    background-color: #B4545A;
    border-radius: 15px
}
.heroImg h2{
    text-align:center;
    font-family: Garamond;
    font-size: 36px;
    font-weight:bold;
    color: #1B5E5C;
}
.footer{
    display:flex;
    background-color:#F3F8F8;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    justify-content:center;
    color:black;
    margin:4%;
}
.footer a{
    color:black;
}
.footer p{
    color: #1B5E5C;
    font-family: Garamond;
    font-size: 18px;
}
h1{
    text-align:left;
    font-family: Garamond;
    font-size: 42px;
    font-weight:bold;
    color: #1B5E5C; 
}
button {
    height:75px;
    width:250px;
    background-color:#1B5E5C;
    color:#CFF0EE;
    border-radius:15px;
    font-size:24px;
    font-family: Garamond;
    font-weight:bold;
    margin: 15px;
}
.buttonAlt {
    background-color: #B4545A;
    color: #CFF0EE;
}
